In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('minerales_ley.csv')
df

           ID Muestra  Oro (g/t)  Plata (g/t)  Cobre (%)  Plomo (%)   Zinc (%)
0           Muestra_1   8.025101   431.249577   4.518215   7.670685   5.367539
1           Muestra_2   0.548552   380.263364   3.699061   6.159646   1.316805
2           Muestra_3  14.262982   146.486910   4.524591   9.697989  12.551556
3           Muestra_4  12.878724   221.625877   2.816365   2.969758  11.073858
4           Muestra_5   4.100613   357.633695   0.639888   5.578079   5.513297
...               ...        ...          ...        ...        ...        ...
99995   Muestra_99996   3.366599   193.452397   2.824527   1.441047  14.003040
99996   Muestra_99997  17.476037    64.076307   2.300197   1.682691   5.257053
99997   Muestra_99998  14.116685   115.946513   3.574151   9.445927  12.692747
99998   Muestra_99999   7.779599   354.874164   4.003477   1.927404   8.211133
99999  Muestra_100000  11.715476   334.425710   1.251628   5.673756   7.240216

[100000 rows x 6 columns]

In [6]:
df.describe()

,Oro (g/t),Plata (g/t),Cobre (%),Plomo (%),Zinc (%)
count,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000
mean,10.236325,252.136317,2.550388,4.998362,7.529366
std,5.639974,142.950528,1.415967,2.888218,4.328988
min,0.500114,5.004513,0.100058,0.000238,0.000275
25%,5.340914,128.416992,1.320163,2.500894,3.799452
50%,10.212886,252.109490,2.553347,4.994737,7.535573
75%,15.106258,375.735777,3.776746,7.497970,11.280402
max,19.999956,499.996850,4.999976,9.999981,14.999910

In [11]:
df.loc[4, 'Cobre (%)']

0.6398879302762361

In [12]:
data1 = df.loc[:, ['ID Muestra', 'Cobre (%)']]
data1

           ID Muestra  Cobre (%)
0           Muestra_1   4.518215
1           Muestra_2   3.699061
2           Muestra_3   4.524591
3           Muestra_4   2.816365
4           Muestra_5   0.639888
...               ...        ...
99995   Muestra_99996   2.824527
99996   Muestra_99997   2.300197
99997   Muestra_99998   3.574151
99998   Muestra_99999   4.003477
99999  Muestra_100000   1.251628

[100000 rows x 2 columns]

In [15]:
df.shape

(100000, 6)

In [16]:
df.size

600000

In [17]:
df['Tipo de mineral'] = 'Sulfuro'
df

,ID Muestra,Oro (g/t),Plata (g/t),Cobre (%),Plomo (%),Zinc (%),Tipo de mineral
0,Muestra_1,8.025101,431.249577,4.518215,7.670685,5.367539,Sulfuro
1,Muestra_2,0.548552,380.263364,3.699061,6.159646,1.316805,Sulfuro
2,Muestra_3,14.262982,146.486910,4.524591,9.697989,12.551556,Sulfuro
3,Muestra_4,12.878724,221.625877,2.816365,2.969758,11.073858,Sulfuro
4,Muestra_5,4.100613,357.633695,0.639888,5.578079,5.513297,Sulfuro
...,...,...,...,...,...,...,...
99995,Muestra_99996,3.366599,193.452397,2.824527,1.441047,14.003040,Sulfuro
99996,Muestra_99997,17.476037,64.076307,2.300197,1.682691,5.257053,Sulfuro
99997,Muestra_99998,14.116685,115.946513,3.574151,9.445927,12.692747,Sulfuro
99998,Muestra_99999,7.779599,354.874164,4.003477,1.927404,8.211133,Sulfuro
99999,Muestra_100000,11.715476,334.425710,1.251628,5.673756,7.240216,Sulfuro

In [18]:
df.count()

ID Muestra         100000
Oro (g/t)          100000
Plata (g/t)        100000
Cobre (%)          100000
Plomo (%)          100000
Zinc (%)           100000
Tipo de mineral    100000
dtype: int64