# Práctica supervivencia en el Titanic
## 1.1 Carga de datos

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('titanic.csv')

## 1.2 Estudio de los datos

In [15]:
df.head(5)

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.250
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,712.833
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.925
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.100
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.050

In [16]:
df['Fare'] = pd.to_numeric(df['Fare'], errors='coerce')

In [17]:
df.describe()

,Survived,Pclass,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
count,887.000000,887.000000,887.000000,887.000000,887.000000,864.000000
mean,0.385569,2.305524,29.471443,0.525366,0.383315,79.349947
std,0.487004,0.836662,14.121908,1.104669,0.807466,163.330312
min,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,0.000000,2.000000,20.250000,0.000000,0.000000,7.895800
50%,0.000000,3.000000,28.000000,0.000000,0.000000,14.450000
75%,1.000000,3.000000,38.000000,1.000000,0.000000,49.625000
max,1.000000,3.000000,80.000000,8.000000,6.000000,910.792000

## 1.3 Preprocesamiento de los datos

In [18]:
def f(x):
    if x == 'male':
        return 1
    else:
        return 0

In [20]:
df['Sex'] = df['Sex'].apply(f)

In [21]:
df.head(5)

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,1,22.0,1,0,7.250
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,0,38.0,1,0,712.833
2,1,3,Miss. Laina Heikkinen,0,26.0,0,0,7.925
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,0,35.0,1,0,53.100
4,0,3,Mr. William Henry Allen,1,35.0,0,0,8.050

Eliminando outliers

In [22]:
df = df[df['Fare'] < 200]

In [23]:
df = df.reset_index(drop=True)

In [24]:
df.describe()

,Survived,Pclass,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
count,762.000000,762.000000,762.000000,762.000000,762.000000,762.000000,762.000000
mean,0.346457,2.440945,0.666667,28.813215,0.484252,0.334646,27.656992
std,0.476153,0.758519,0.471714,13.568088,1.090101,0.766981,36.764494
min,0.000000,1.000000,0.000000,0.420000,0.000000,0.000000,0.000000
25%,0.000000,2.000000,0.000000,20.000000,0.000000,0.000000,7.895800
50%,0.000000,3.000000,1.000000,27.500000,0.000000,0.000000,12.587500
75%,1.000000,3.000000,1.000000,36.000000,1.000000,0.000000,27.000000
max,1.000000,3.000000,1.000000,80.000000,8.000000,6.000000,199.667000

In [25]:
x = df[['Sex', 'Age', 'Fare']].values
y = df['Survived'].values

In [26]:
x

array([[ 1.   , 22.   ,  7.25 ],
       [ 0.   , 26.   ,  7.925],
       [ 0.   , 35.   , 53.1  ],
       ...,
       [ 0.   ,  7.   , 23.45 ],
       [ 1.   , 26.   , 30.   ],
       [ 1.   , 32.   ,  7.75 ]])

In [27]:
y

array([0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0,
       0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0,
       1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1,
       1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0,
       0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1,
       0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0,
       1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1,
       0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1,
       1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1,
       1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0,
       0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0,
       1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1,
       0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0,
       1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1,
       1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0], dtype=int64)

## 1.4 Entrenamiento y testeado del modelo

In [28]:
from sklearn.model_selection import train_test_split

In [29]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3)

In [30]:
x_train

array([[  0.    ,   8.    ,  21.075 ],
       [  0.    ,  18.    ,   9.8417],
       [  1.    ,  23.    ,   7.225 ],
       ...,
       [  1.    ,  26.    ,   8.6625],
       [  1.    ,   4.    , 152.458 ],
       [  1.    ,  27.    , 144.542 ]])

## 1.5 Entrenando el modelo

In [31]:
from sklearn.linear_model import LogisticRegression

In [33]:
model = LogisticRegression()
model.fit(x_train, y_train)

LogisticRegression()

In [35]:
print(model.predict([[0, 5, 100]]))

[1]

In [36]:
print(model.predict_proba([[0, 5, 100]]))

[[0.20475389 0.79524611]]

In [37]:
print(model.predict_proba([[1, 45, 20]]))

[[0.84255167 0.15744833]]

## 1.6 Evaluando el modelo

In [38]:
from sklearn.metrics import accuracy_score

In [39]:
y_predict = model.predict(x_test)

In [40]:
print(accuracy_score(y_predict, y_test))

0.8078602620087336

In [42]:
from sklearn.metrics import confusion_matrix

In [43]:
print(confusion_matrix(y_predict, y_test))

[[128  25]
 [ 19  57]]

## 1.7 Guardando el modelo

In [44]:
import pickle

In [45]:
pickle.dump(model, open('modelo.sav', 'wb'))

In [46]:
model_importado = pickle.load(open('modelo.sav', 'rb'))